/*Header Fixo*/
header {

   background: #fff;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999px;
   box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

}

/*Section PRINCIPAL*/
section{
	padding-top: 100px;
	background-color: white;
}

/* Class de Serviços */
.Logo4 {
	/*border: 3px solid black;*/
	/*border-radius: 10px;*/
	transition: all 0.9s;
	
	/*box-shadow: 3px 3px 3px black;*/
	text-decoration: none;
	color: black;
}

.Logo4:hover {
	/*background-color: black;*/
	color: gray;
	width: 40%;
}

/*Class Personalizada botão*/
.Logo5 {
	border: 1px solid black;
	border-radius: 4px;
	transition: all 0.4s;
	padding: 5px;
	
	/*box-shadow: 3px 3px 3px black;*/
	text-decoration: none;
	color: black;
	
}

.Logo5:hover {
	background-color: black;
	padding: 7px;
	color: white;
	size: 8px;

}

.logo{
	transition: all 0.9s;
}

.logo:hover{
	width: 40%;
}

footer{
	padding: 20px;
	background-color: #484d50;
	font-size: 20px;
}

.rowfooter{
	padding-top:10px;

}
.rowfooterh2{
	color: white;
	font-size:25px;
}

footer div div div div a{
	font-size: 30px;
}


.footerbutton{
	color:white;
	transition: all 0.5s;
	text-decoration:none;
	font-size: 18px;
}
.footerbutton:hover{
	color: black;
}
